body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div {
  display: inline;
}

h1 {
  display: inline;
  font-size: 10pt;
  color: blue;
}

.meta {
  color: red;
}

.active {
  background-color: #ffff00;
}

body:hover {
  cursor: pointer;
}
